img{
   max-width: 100%;
}

.headerinfo{
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;

   padding: 10px;
}

.logo{
   float: left;
   max-width: 50%;
  

}

.logoRight{
   float: right;
   min-width: 50%;
   text-align: right;
   color: #2d3c49;
   font: 35px arial, sans-serif;
}

.imgMain{
  max-width: 100%;
  border-top: 5px solid #7d97ad;
}

body{
  color: #2d3c49;
  margin-right: 5px;
  margin-left: 5px;
}

.h2Class{
  color: #7d97ad;
  font: 25px arial, sans-serif;
}

.articles{
     width: 100%;
     display: flex;
     flex-wrap: wrap; 
}

article{
	text-align: center;
	width:32%;
	margin-left: 5px;
}

.artH2{
	color:#2d3c49;
}

.art1{
  order:1;
}

.art2{
  order:2;
}

.art3{
  order:3;
}

.artImg{
   text-align: center;
}

p {
  max-width:100%;
  word-break: break-all;
}
